############
## Ruby/Jekyll files
############
_site

############
## Protected Information
############
DataPhiFreeCache/.*

############
## Potential PHI
############
*.zip
*.Zip
*.ZIP
*.Rhistory
.Rproj.user

#I'm afraid this might contain PHI if someone knew how to decode it.
us.stackdump

*.rdata
*.Rdata
*.RData
*.RDATA
*.RDS
*.rds
*.csv
*.mdb
*.accdb
*.sav
*.sas7bdat
*.xls
*.xlsx

############
## Explicit exceptions for PHI-free data
############
!UtilityScripts/PackageDependencyList.csv

!DataPhiFree/Raw/CountyCharacteristics.csv
!DataPhiFree/Raw/EncounterTypeReclassification.csv
!DataPhiFree/Raw/MiechvProgressTimeline.csv
!DataPhiFree/Derived/C1/C1CountyMonth.rds
!DataPhiFree/Derived/C1/C1RegionMonth.rds

############
## Documentation and Presentation material (that is PHI-free)
############
!PresentationMaterials/rollingRecruitmentCounts.xlsx

!DataPhiFreeCache/README.md

############
## Windows
############
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini
