############
## Ruby/Jekyll files
############
_site

############
## Protected Information
############
DataPhiFreeCache/.*

############
## Potential PHI
############
*.zip
*.Zip
*.ZIP
*.Rhistory
.Rproj.user

#I'm afraid this might contain PHI if someone knew how to decode it.
us.stackdump 

*.rdata
*.Rdata
*.RData
*.RDATA
*.RDS
*.rds
*.csv
*.mdb
*.accdb
*.sav
*.sas7bdat
*.xls
*.xlsx

############
## Explicit exceptions for PHI-free data
############ 
!UtilityScripts/PackageDependencyList.csv

!DataPhiFree/CountyCharacteristics.csv
!DataPhiFree/redacted-aocs_client_removed.csv
!DataPhiFree/ModelVariableAnnotation.csv
!DataPhiFree/RedactedRiskSalzburgHallwang.csv

############
## Documentation and Presentation material (that is PHI-free)
############ 
!PresentationMaterials/rollingRecruitmentCounts.xlsx

!DataPhiFreeCache/README.md
!DataPhiFreeCache/Raw/C1/C1DataDictionary.md

############
## Windows
############
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini
