/* Note: the RStudio browser has to be closed and reopened for changes to be applied. */
/* Color taken from AdminLTE-2.0.6/_all-skins.min.css */
/* green lighter  : 00a65a */
/* green darker   : 008d4c */
/* purple lighter : 605CA8 */
/* purple darker  : 504C88 */

.panel_header {color:#00a65a; font-size:200%}
.table_legend {color:#504C88}
.table .smallish {font-size:80%; padding:2px; }
.table .interview_row {font-size:90%; font-weight:bold}

td      { color:#504C88;}
th      { color:#f6f6f6; background-color:#008d4c; }

.dataTables_length     { color:#888; }
.dataTables_info     { color:#888; }
.table .risk_dark_high      { background:#ef6a32; }
.table .risk_dark_elevated  { background:#fbbf45; }
.table .risk_dark_baseline  { background:#03c383; }
.table .risk_dark_low       { background:#017351; }

.table .risk_light_high     { background:#f06e3d; }
.table .risk_light_elevated { background:#fee090; }
.table .risk_light_baseline { background:#b9f3ec; }
.table .risk_light_low      { background:#5dd3b0; }

input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h4 { font-weight: 400; }
h3 {font-weight: 400; color:#504C88; font-size:150%; }

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}

/* Make the sortable icons invisible, so they don't conflict with the right-aligned headers */
/* http://www.datatables.net/blog/2014-06-06 */
/* table.dataTable thead th {
    background-image: none !important;
} */
